body {

    background-color: antiquewhite;
    height: 800px;
}

header {

  text-align: center;
  padding: 20px 0;
  background-color: rgb(245, 230, 210);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  margin: 0;
  color: rgb(51, 64, 150);
}

.main_container {

    display: flex;
    flex: 1;
    height: 100vh;
}

.sideBar_container {

  position: fixed;
  top: 80px;
  left: 0;
  width: 200px;
  height: 100%;
  height: calc(100vh - 80px);
  background-color: rgb(235, 214, 186);
  padding: 20px;
  box-sizing: border-box;
}

.sideBar_container h2 {

  margin-top: 0;
  color: rgb(51, 64, 150);
  text-align: center;
}

.body_container {

  margin-left: 200px;
  margin-top: 200px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 40px 20px;
}

.body_container img,
.body_container p {
  width: 70%;
  max-width: 800px;
}

.body_container img {
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
    height: auto;
    width: 80%;
}

@media screen and (max-width: 700px) {

    .title h1 {
        color: brown;
    }

    img {
        height: 200px;
        width: 350px;
    }

    .sideBar_container {
        position: static;
        height: auto;
        text-align: center;
        margin-top: 100px;
    }

    .sideBar_container h2 {

        color: brown;
    }

    .body_container {

        margin-left: 0;
        margin-top: 400px;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px;

    }
}